html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 18px;
	font: 12px helvetica, sans-serif;
}

#topbar {
	width: 100%;
	height: 50px;
	top: 0px;
	margin: 0;
	position: absolute;
	text-align: center;
	margin-top: 13px;
	font: 24px helvetica, sans-serif, bold;
	z-index: 1;
}

#topleft {
	height: 50px;
	top: 0px;
	left: 0px;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
	z-index: 2;
}

#topright {
	height: 50px;
	top: 0px;
	right: 0px;
	margin-right: 5px;
	margin-top: 5px;
	position: absolute;
	z-index: 2;
}

#bottomleft {
	height: 25px;
	bottom: 0px;
	left: 0px;
	margin-left: 5px;
	position: absolute;
}

#bottomright {
	height: 25px;
	bottom: 0px;
	right: 0px;
	margin-right: 5px;
	position: absolute;
}

.infoBox {
	font-size: 13px;
	font-family: helvetica, bold;
	margin: 5px;
	padding: 5px;
	background: white;
	border-radius: 5px;
}

#container {
	width: 1240px;
	height: 600px;
	top: 50px;
	margin: 10px;
	position: absolute;
	margin: 10px;
	bottom: 0px;
}

.gridly: {
	position: relative;
	width: 1024px;
}

.square.small {
	width: 160px;
	height: 160px;
}

.square.large {
	width: 500px;
	height: 500px;
}

.gmap {
	width: 500px;
	height: 325px;
}

.pop {
	width: 500px;
	height: 300px;
}

.text {
	width: 300px;
	height: 325px;
}

.svgwrap {
	position: relative;
	width: 100%;
	height: 100%;	
}